@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

* {
    box-sizing: border-box;
}

html {
    font-size: 68%;
    background-color: #6C6666  ;
}
body{
    font-family: 'Rubik', sans-serif; 
    font-size: 1.6rem;
    background-color: #FFFFFD ;
    color:  #6C6666  ;
}

#header {
    background-color: #ADCE4B ;
    color: #000;
}

.navbar-light .navbar-brand {
    color: #000 ;
}
.navbar-light .navbar-nav .nav-link{
    color: #000 ;
}

.alert-heron{
    background-color: #FEE579 ;
}

.minimum-height{
    min-height: 40vh;
}

.maximum-width{
    max-width: 33rem;
}

.pagination-page-info {
    max-width: 33rem;
    text-align: center;
    padding: .6em;
    margin: .5em;
    margin-left: 0;
}
.pagination-page-info b {
    padding-left: .6em;
    padding: .1em .25em;
}

#footer {
    background-color: #6C6666  ;
    color:  #FFFFFD  ;
}

.footer-list-item {
	color: #FFFFFD ;
	padding: 1rem;
}