<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Wildlife Rescue case details portal"/>
<meta name="google-site-verification" content="SZrpbsLn0iqzGwTjpKTTK_zH0vp2RHnP8aZ2NE5OjOQ" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicons/apple-touch-icon.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicons/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicons/favicon-16x16.png') }}">
<link rel="manifest" href="{{ url_for('static', filename='favicons/site.webmanifest') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
{% block styles %}
{% endblock %}
<title>Wildlife Rescue</title>
</head>
<body>
    <header id="header" class="fixed-top">
        <nav class="container-lg navbar navbar-expand-lg navbar-light">  <!-- Nav bar section -->
            <div class="container-fluid">
              <a class="navbar-brand  fw-bold" href="{{ url_for('home_page') }}">Wildlife Rescue</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav text-end">
                  <a class="nav-link navbar-link mx-3"  href="{{ url_for('home_page') }}"> Home <i class="bi bi-house"></i></a>
                  {% if session.user %}
                  <a class="nav-link mx-3" href="{{ url_for('get_cases') }}"> Cases <i class="bi bi-archive"></i></a>
                  <a class="nav-link mx-3" href="{{ url_for('add_case') }}"> New Case <i class="bi bi-card-checklist"></i></a>
                  <a class="nav-link mx-3" href="{{ url_for('profile', username=session['user']) }}"> Profile <i class="bi bi-person-badge"></i></a>
                  <a class="nav-link mx-3" href="{{ url_for('logout') }}"> Log Out <i class="bi bi-box-arrow-right"></i> </a>
                  {% else %}
                  <a class="nav-link mx-3" href="{{ url_for('register') }}"> Register <i class="bi bi-pencil-square"></i></a>
                  <a class="nav-link mx-3" href="{{ url_for('login') }}"> Login <i class="bi bi-box-arrow-in-right"></i></a>
                  {% endif %}
                </div>
              </div>
            </div>
          </nav>
    </header>
    <main class="pt-2 mt-5">
      <section>
        <!-- flash messages -->
        <h2 class="visually-hidden">Flash Message Section</h2>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row">
            <h4 class="text-center alert alert-heron">{{ message }}</h4>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
      </section>
      {% block content %}
      {% endblock %}
    </main>
    	<!-- No Footer as this template is for login and register pages - -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
</body>
</html>