{% extends "base-min.html" %}
{% block content %}
<div class="container-lg"> 
    <div class="row">
      <div class="col-md-6">
      <h2 class="my-3"> Current Cases</h2>
      </div>
      <div class="col-md-6">
        <form action="{{ url_for('search') }}" method="post">
        <div class="input-group mb-3 my-3">
          
          <input type="text" class="form-control maximum-width" name="query" id="query" minlength="3" aria-label="Search query" aria-describedby="query" required>
          <div class="btn-group">
            <button type="submit" class="btn btn-outline-secondary fw-bold" aria-label="Search button"><span class="d-none d-sm-inline">Search </span><i class="bi bi-search pe-1"></i></button>
            <button type="button" class="btn dropdown-toggle dropdown-toggle-split btn-outline-secondary" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Filter button">
              <span class="fw-bold "><span class="d-none d-sm-inline">Filters </span><i class="bi bi-funnel"></i></span>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item " href="{{ url_for('get_cases', filter='user') }}">My Cases</a></li>
              <li><a class="dropdown-item " href="{{ url_for('get_cases', filter='pending') }}">All Pending cases</a></li>
              <li><a class="dropdown-item " href="{{ url_for('get_cases', filter='open') }}">All Open cases</a></li>
              <li><a class="dropdown-item " href="{{ url_for('get_cases') }}">All cases</a></li>
            </ul>
          </div>
        </div>
      </form>
      </div> 
    </div>
<div class="row">
    <div class="col-md-6 offset-md-4 text-center">
    {{ pagination.info }}  <!-- this is the pagination information at the top -->
    </div>
</div>
<div class="row">
    {% for case in cases %} <!-- this is card panel that displays for each case in the DB that matches search query -->
    <div class="col-sm-6 g-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title  fw-bold"> {{ case.species }} </h4>
          <p class="card-text "> Reason :  {{ case.reason }} </p>
          <p class="card-text "> Status :  {{ case.status }} </p>
          <p class="card-text "> created by : {{ case.created_by }}  </p>
          <a href="{{ url_for('edit_case', case_id=case._id) }}" class="btn btn-link ">View More Info</a>
        </div>
        <div class="card-footer">
          <small> Case Number: {{ case.case_number }} , Date : {{ case.date }} </small>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
<div class="row">
    <div class="col-md-6 offset-md-4 mt-5 ps-5 text-center">
    {{ pagination.links }}   <!-- this is the pagination links at the bottom to the search results section, this panel only appears if there is more then one page of results  -->
    </div>
</div>
</div>
{% endblock %}