{% extends "base.html" %}
{% block content %}
<div class="container-lg"> 
    <div class="row">
      <div class="col-md-12">


<h2 class="my-3"> Current Cases</h2>

<div class="row">
    {% if cases|length > 0 %}
        {% for case in cases %}
    <div class="col-sm-6 g-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title fs-3 fw-bold"> {{ case.species }} </h4>
          <p class="card-text fs-4"> Reason :  {{ case.reason }} </p>
          <p class="card-text fs-4"> Status :  {{ case.status }} </p>
          <p class="card-text fs-4"> created by : {{ case.created_by }}  </p>
          <a href="{{ url_for('edit_case', case_id=case._id) }}" class="btn btn-primary">Edit Case</a>
        </div>
        <div class="card-footer">
          <small class="text-muted"> Case ID: {{ case.case_number }} , {{ case.date }} , ({{ loop.index }} of {{loop.length }})</small>
        </div>
      </div>
    </div>
        {% endfor %}
    {% else %}    
    <h3 class="my-3" > No Results found</h3>
    {% endif %}
</div>
</div>
</div>

{% endblock %}