{% extends "base.html" %}
{% block content %}

      <div class="container-lg"> 
        <div class="row">
          <div class="col-md-8">
            <img src="static\images\sascha-bosshard-b027q9eF3Yo-unsplash.jpg" class="img-fluid" alt="...">
          </div>
          <div class="col-md-4">
            <p>Lorem Ipsum
              "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
              "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus facilisis suscipit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In in rutrum ante. Donec quis mauris mattis, tempor turpis congue, luctus enim. Maecenas dictum faucibus dui vitae vulputate. Cras sollicitudin odio quis scelerisque pellentesque. Donec mauris nunc, placerat ut tortor in, ornare imperdiet justo. Praesent a tellus ut ante sagittis malesuada ut et risus.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card-group">
              <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Testing 123 .This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock %}