{% extends "base.html" %}
{% block content %}

      <div class="container-lg"> 
        <div class="row">
          <div class="col-md-8">
            <img src="static\images\sascha-bosshard-b027q9eF3Yo-unsplash_adobespark.jpg" class="img-fluid" alt="...">
          </div>
          <div class="col-md-4">
            <p> At Wildlife Rescue, our aim keep track of all wildlife incidents - from initial contact to final outcome.This information will then be used to inform the necessary road authorities.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card-group">
              <div class="card">
                <img src="static\images\baby-deer-rescue-1024x528.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">The Three Approaches to Wildlife Rescue</h5>
                  <p class="card-text">There are three approaches to helping wildlife and it can be hard to choose the right course of action, especially if you’re stressed and nervous. If in doubt, call a wildlife rescue centre for advice.</p>
                  <p class="card-text">1.	Leave it alone. Sometimes a wild animal is not injured but has been left by a parent so it can gather food. For example, young deer should not be touched nor should fledgling birds unless they are in danger.
                    2.	Let the animal recover from shock in a cool, dark place. A wild animal that’s had a knock, say flying into a window or being hit by a car, could be concussed and may recover given time.
                    3.	Take the animal to a wildlife centre or a vet. Injured wildlife needs specialist attention. The most responsible course of action is taking injured wildlife to someone who knows exactly what to do to prevent any further suffering.
                    </p>
                </div>
              </div>
              <div class="card">
                <img src="static\images\fox-rescue-1024x528.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Who we are </h5>
                  <p class="card-text">As a rehabber for Galway Swan Rescue, we had to fill out reports on; the number of incidents with which we dealt and their outcomes. This was a tedious, drawn out process.
                    We then created an App to simplify the recording and generating of reports. The intent was to create an easy way for all rehabbers to record incidents and to make the data available for national and international bodies in order to understand outcomes.
                    </p>
                </div>
              </div>
              <div class="card">
                <img src="static\images\how-to-pick-up-a-hedgehog-1024x623.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Useful links</h5>
                  <p class="card-text"> If you have found an animal you can refer to this site Found an animal?</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock %}