{% extends "base.html" %}
{% block content %}

<div class="container-lg">
<div class="row">
    <div class="col-md-12">
        <div>
            <h3 class="text-center">
                {{ username }}'s Profile
            </h3>
        </div>
    </div>
</div>

<form class="row mx-auto mt-3 g-3 maximum-width" method="POST" action="{{ url_for('profile', username=session["user"]) }}">
    <fieldset id="fieldsetProfile" disabled="disabled col-md-12">
    <div>
        <label for="inputName" class="form-label">Full Name</label>
        <input type="text" class="form-control" id="inputName" name="name" value="{{ fullname }}">
    </div>
    <div>
        <label for="inputAddress" class="form-label">Phone Number</label>
        <input type="text" class="form-control" id="inputAddress" name="phone" value="{{ phone }}">
    </div>
    <div class="mt-3">
        <button id="updateProfileBtn"" type="submit" class="btn btn-success visually-hidden">Update your contact details</button>
    </div>
    </fieldset>
    <div class="mb-3">
        <button id="editProfileBtn"" type="button" class="btn btn-primary">Edit your contact details</button>
    </div>

</form>
            

</div>
<script src="{{ url_for('static', filename='js/profile-edit.js') }}"></script>
{% endblock %}